
@import '~@angular/material/theming';

@include mat-core();

$myPort-primary: mat-palette($mat-teal);
$myPort-accent: mat-palette($mat-blue, A200, A100, A400);
$myPort-warn: mat-palette($mat-red);

$myPort-theme: mat-dark-theme((
  color: (
    primary: $myPort-primary,
    accent: $myPort-accent,
    warn: $myPort-warn,
  )
));

@include angular-material-theme($myPort-theme);


