<div class="row">
  <div class="col-12 col-md-3">
    <mat-card class="skill-block">
      <img mat-card-image src="../../../assets/images/profil.png" alt="">
      <mat-card-header>
        <mat-card-title>Profil</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>Vous voulez en savoir plus sur moi ?</p>
      </mat-card-content>
      <div class="example-button-row">
        <button mat-raised-button routerLink="" color="primary">Ici</button>
      </div>
    </mat-card>
  </div>
  <div class="col-12 col-md-3">
    <mat-card class="skill-block">
      <img mat-card-image src="../../../assets/images/workexprerience.jpg" alt="">
      <mat-card-header>
        <mat-card-title>Experiences</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>Venez découvrir mes expériences professionnels</p>
      </mat-card-content>
      <div class="example-button-row">
        <button mat-raised-button routerLink="" color="primary">Ici</button>
      </div>
    </mat-card>
  </div>
  <div class="col-12 col-md-3">
    <mat-card class="skill-block">
      <img mat-card-image src="../../../assets/images/formation.jpg" alt="">
      <mat-card-header>
        <mat-card-title>Formations</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>Venez découvrir mon parcours</p>
      </mat-card-content>
      <div class="example-button-row">
        <button mat-raised-button routerLink="" color="primary">Ici</button>
      </div>
    </mat-card>
  </div>
  <div class="col-12 col-md-3">
    <mat-card class="skill-block">
      <img mat-card-image src="../../../assets/images/competences.png" alt="">
      <mat-card-header>
        <mat-card-title>Compétences</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>Compétences technologiques et professionnelles</p>
      </mat-card-content>
      <div class="example-button-row">
        <button mat-raised-button routerLink="" color="primary">Ici</button>
      </div>
    </mat-card>
  </div>
</div>
<mat-divider class="my-3"></mat-divider>

<div class="row">
  <div class="col-12 col-sm-6 col-md-8">
    <h1>A propos de moi</h1>
    <p>Porté par les nouvelles technologies, les ordinateurs, les téléphones et par l'informatique en général, je souhaite me professionnaliser dans ce domaine qui me passionne.</p>
    <p>Afin d’acquérir le premier socle de compétences informatiques nécessaires, j’ai suivi une formation de développeur web et web mobile au sein du GRETA à Chennevières-sur-Marne dont j’ai obtenu le titre au mois de juin (Titre RNCP de niveau 5, anciennement III, bac+2).</p>
  </div>
  <div class="col-12 col-sm-6 col-md-4">
    <div class="mb-3">
      <strong>HTML & CSS</strong>
      <span class="float-right">100%</span>
      <mat-progress-bar value="100"></mat-progress-bar>
    </div>
    <div class="mb-3">
      <strong>BOOTSTRAP</strong>
      <span class="float-right">80%</span>
      <mat-progress-bar value="80" color="accent"></mat-progress-bar>
    </div>
    <div class="mb-3">
      <strong>UX Design</strong>
      <span class="float-right">50%</span>
      <mat-progress-bar value="50" color="warn"></mat-progress-bar>
    </div>
  </div>
</div>
<mat-divider class="my-3"></mat-divider>

<div>
  <h1>Expériences professionnelles</h1>
  <div class="col-12 col-md-6">
    <mat-card class="exprerience-card">
      <mat-card-content>
        <span class="education-date">2020</span>
        <h2>AFUL</h2>
        <h3>Stage</h3>
        <p>Stage dans une association.</p>
        <p>Créer un site web pour réserver les terrains de sport de la résidence de l'association.</p>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<mat-divider class="my-3"></mat-divider>
<div>
  <h1>Formations</h1>
  <div class="col-12 col-md-8">
    <mat-card class="formation">
      <mat-card-content>
        <span class="education-date">2020 - 2021</span>
        <h2>ETNA</h2>
        <h3>Bachelor responsable web et mobile</h3>
        <p>
          Diplôme: Bachelor, BAC+3 <br>
          En cours
        </p>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-12 col-md-8 ml-auto">
    <mat-card class="formation">
      <mat-card-content>
        <span class="education-date">2019 - 2020</span>
        <h2>GRETA</h2>
        <h3>Formation développeur web et web mobile</h3>
        <p>
          Diplôme: Titre RNCP de niveau 5, anciennement III, BAC+2 <br>
          Obtenu
        </p>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-12 col-md-8">
    <mat-card class="formation">
      <mat-card-content>
        <span class="education-date">2019</span>
        <h2>IMIE</h2>
        <h3>Formation PIMIE</h3>
        <p>
          Formation préparatoire aux métiers de l'informatique
        </p>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<mat-divider class="my-3"></mat-divider>
<div class="competences row">
  <div class="col-12 col-md-6">
    <h1>Technologies</h1>
    <mat-chip-list>
      <mat-chip color="primary" selected>HTML 5</mat-chip>
      <mat-chip color="primary" selected>CSS3</mat-chip>
      <mat-chip color="primary" selected>BootStrap</mat-chip>
      <mat-chip color="primary" selected>PHP</mat-chip>
      <mat-chip color="primary" selected>JavaScript</mat-chip>
      <mat-chip color="primary" selected>jQuery</mat-chip>
      <mat-chip color="primary" selected>Angular</mat-chip>
      <mat-chip color="primary" selected>Laravel</mat-chip>
      <mat-chip color="primary" selected>MySQL</mat-chip>
    </mat-chip-list>
  </div>
    <div class="col-12 col-md-6">
      <h1>Compétences</h1>
      <mat-chip-list>
        <mat-chip color="accent" selected>Capacité d’adaptation</mat-chip>
        <mat-chip color="accent" selected>Travail en équipe</mat-chip>
        <mat-chip color="accent" selected>Autonomie</mat-chip>
        <mat-chip color="accent" selected>Réactivité</mat-chip>
        <mat-chip color="accent" selected>Rigueur</mat-chip>
      </mat-chip-list>
    </div>
</div>

